.div-head {
    font-family: 'Tangerine', serif;
    font-size: 35px;
    text-shadow: 4px 4px 4px #aaa;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.span-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
}

.top-banner-p {
    margin-bottom: 50px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-repeat: no-repeat;

}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-blog {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.top-banner {
    background-image: url(images/top-banner.png);
}